# ==========================================
# Java & Compilação
# ==========================================
*.class
out/
bin/
*.jar
*.war
*.ear


!lib/*.jar

# ==========================================
# Rust & Cargo
# ==========================================
/target/
**/*.rs.bk
Cargo.lock

# ==========================================
# Sistema Operacional
# ==========================================
.DS_Store
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
desktop.ini

# Log files
*.log